body {
   margin: 0px;
   background-color: rgb(148, 172, 167);
   width: 100%;

}

.record {

   background-color: rgb(34, 72, 77);
}

h1 {
   margin: 0px;
   font-size: 45px;
   color: rgb(247, 244, 244);
   text-align: center;
}

p {
   margin: 0px;
   color: white;
   font-size: 20px;

}

#num1,
#num2,
#num3 {
   display: flex;


   padding-top: 15px;
}

#num1>p,
#num2>p,
#num3>p{
   display: flex;
   justify-content: center;
   align-items: center;
}


#number11,
#number12,
#number13,
#number14 {
   border-style: double;
   text-align: center;
   color: white;
   height: 250px;
   max-width: 24%;
   flex: 25%;
   background-color: rgb(110, 177, 179);
}

#number21,
#number22 {
   border-style: double;
   text-align: center;
   color: white;
   height: 250px;
   max-width: 48.5%;
   flex: 50%;
   background-color: rgb(17, 88, 112);
}


#number31,
#number32 {
   border-style: double;
   text-align: center;
   color: white;
   height: 250px;
   max-width: 48.5%;
   flex: 50%;
   margin-top: 5px;
   background-color: rgb(1, 35, 46);
}